@model Section
@using SEP_Web.Models
@using SEP_Web.Services
@inject IDivisionServices _divisionServices
@{
    ViewData["Title"] = "Editar Sessão";
}

<div>

    <form asp-controller="Section" asp-action="Edit" id="edit-section-form">

        <input type="hidden" id="edit-section-id" asp-for="Id">

        <div class="form-group p-3">
            <label for="edit-fk-division" hidden>Divisão: </label>
            <select class="form-select" name="divisionId" id="edit-fk-division" asp-for="DivisionId" onfocus="this.size=2" onchange="this.size=1" onblur="this.size=1" required>
                <option value="" selected> -- selecione a divisão -- </option>
                @foreach (var i in await _divisionServices.DivisionsList())
                {
                    <option value="@i.Id">@i.Name</option>
                }
            </select>
        </div>

        <div class="form-group p-3">
            <label for="edit-section-name" hidden>Descrição: </label>
            <input type="text" placeholder="Informe a descrição da sessão :" class="form-control" id="edit-section-name" name="name" asp-for="Name" required />
            <span class="field-validation-error"></span>
        </div>

        <div class="modal-footer p-2">
            <button type="submit" class="btn btn-primary btn-md">Salvar</button>
            <a asp-controller="Section" asp-action="Index" class="btn btn-secondary btn-md" title="Cancelar"><i class="bi bi-arrow-return-left" title="Cancelar"></i></a>
        </div>

    </form>

</div>