@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Sistema de Estágio Probatório !</h1>
    <p class="mt-5">Learn about <a href="https://github.com/GianLost/SEP_Web">using Sep_Web app in SEP_Web.git</a>.</p>
</div>
