@model Instituition
@using SEP_Web.Models

@{
    ViewData["Title"] = "Excluir Usuário";
}

<!-- Partial View de Exclusão de Órgãos -->

<div>

    <form asp-controller="Instituition" asp-action="Delete" method="post">

        <input type="hidden" asp-for="Id">

        <div class="p-2 text-justify">
            <span>Tem certeza que deseja excluir o órgão <b>@Model.Name</b>? Essa ação irá exclui-lo de forma
                <b class="text-danger">permanente</b> e não poderá ser desfeita.</span>
        </div>

        <div class="modal-footer p-2">

            <button type="submit" class="btn btn-danger btn-md" name="decision" value="delete"
                title="Excluir - @Model.Name">Excluir</button>
            <a asp-controller="Instituition" asp-action="Index" class="btn btn-secondary btn-md"
                title="Cancelar"><i class="bi bi-arrow-return-left" title="Cancelar"></i></a>

        </div>

    </form>

</div>

<!-- / Partial View de Exclusão de Órgãos -->