@model Instituition
@using SEP_Web.Models
@{
    ViewData["Title"] = "Cadastrar Órgão";
}

<div>

    <form id="instituition-form">

        <div class="form-group p-3">
            <input type="text" placeholder="Informe a descrição do órgão :" class="form-control" id="instituition-name"
                name="name" />
            <span class="field-validation-error"></span>
        </div>

        <div class="modal-footer p-2">
            <button type="submit" class="btn btn-primary btn-md">Salvar</button>
            <a asp-controller="Instituition" asp-action="Index" class="btn btn-secondary btn-md"
                title="Cancelar"><i class="bi bi-arrow-return-left" title="Cancelar"></i></a>
        </div>

    </form>

</div>