@model Sector
@using SEP_Web.Models
@using SEP_Web.Services
@inject ISectionServices _sectionServices
@{
    ViewData["Title"] = "Editar Setor";
}

<div>

    <form asp-controller="Sector" asp-action="Edit" id="edit-sector-form">

        <input type="hidden" id="edit-sector-id" asp-for="Id">

        <div class="form-group p-3">
            <label for="edit-fk-section" hidden>Sessão: </label>
            <select class="form-select" name="sectionId" id="edit-fk-section" asp-for="SectionId" onfocus="this.size=2" onchange="this.size=1" onblur="this.size=1" required>
                <option value="" selected> -- selecione a sessão -- </option>
                @foreach (var i in await _sectionServices.SectionsList())
                {
                    <option value="@i.Id">@i.Name</option>
                }
            </select>
        </div>

        <div class="form-group p-3">
            <label for="edit-sector-name" hidden>Descrição: </label>
            <input type="text" placeholder="Informe a descrição do setor :" class="form-control" id="edit-sector-name" name="name" asp-for="Name" required />
            <span class="field-validation-error"></span>
        </div>

        <div class="modal-footer p-2">
            <button type="submit" class="btn btn-primary btn-md">Salvar</button>
            <a asp-controller="Sector" asp-action="Index" class="btn btn-secondary btn-md" title="Cancelar"><i class="bi bi-arrow-return-left" title="Cancelar"></i></a>
        </div>

    </form>

</div>