@model Sector
@using SEP_Web.Models
@{
    ViewData["Title"] = "Cadastrar Setor";
}

<div>

    <form id="sector-form">

        <div class="form-group p-3">
            <label for="fk-section" hidden>Sessão: </label>
            <select class="form-select" name="sectionId" id="fk-section" asp-for="SectionId" onfocus="this.size=2" onchange="this.size=1" onblur="this.size=1" required>
                <option value="" selected> -- selecione a sessão -- </option>
                @foreach (var i in await Model.SectionList())
                {
                    <option value="@i.Id">@i.Name</option>
                }
            </select>
        </div>

        <div class="form-group p-3">
            <label for="sector-name" hidden>Descrição: </label>
            <input type="text" placeholder="Informe a descrição do setor :" class="form-control" id="sector-name" name="name" asp-for="Name"/>
            <span class="field-validation-error"></span>
        </div>

        <div class="modal-footer p-2">
            <button type="submit" class="btn btn-primary btn-md">Salvar</button>
            <a asp-controller="Sector" asp-action="Index" class="btn btn-outline-secondary btn-md" title="Cancelar">Cancelar</a>
        </div>

    </form>

</div>