@model Division
@using SEP_Web.Models
@{
    ViewData["Title"] = "Edição de divisão";
}

<div>

    <form asp-controller="Division" asp-action="Edit" id="edit-division-form">

        <input type="hidden" id="edit-division-id" asp-for="Id">

        <div class="form-group p-3">
            <label for="edit-fk-instituition" hidden>Órgão: </label>
            <select class="form-select" name="instituitionId" id="edit-fk-instituition" asp-for="InstituitionId" onfocus="this.size=2" onblur="this.size=1" onchange="this.size=1" required>
                <option value="" selected> -- selecione o órgão -- </option>
                @foreach (var i in await Model.InstituitionsList())
                {
                    <option value="@i.Id">@i.Name</option>
                }
            </select>
        </div>

        <div class="form-group p-3">
            <label for="edit-division-name" hidden>Descrição: </label>
            <input type="text" placeholder="Informe a descrição da divisão :" class="form-control" id="edit-division-name" name="name" asp-for="Name" required />
            <span class="field-validation-error"></span>
        </div>

        <div class="modal-footer p-2">
            <button type="submit" class="btn btn-primary btn-md">Salvar</button>
            <a asp-controller="Division" asp-action="Index" class="btn btn-outline-secondary btn-md" title="Cancelar">Cancelar</a>
        </div>

    </form>

</div>